@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: #ccc;
  font-family: 'Lato', sans-serif;
}

#header-main {
  background-color: #000000;
  background-image: linear-gradient(147deg, #434343 0%, #000000 90%);
  color: #fff;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar {
  list-style: none;
  display: flex;
  font-size: 1.2rem;
}

#navbar li {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

#navbar li:last-child {
  border-right: none;
}

a,
a:active,
a:visited {
  padding: 4px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #444;
}

#content {
  width: 100%;
  height: 100%;
}

#main-content {
  width: 85%;
  margin: auto;
  margin-top: 35px;
  display: flex;
  gap: 50px;
}

#search,
#update {
  border: 1px solid black;
  border-radius: 15px;
  min-height: 19em;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#update {
  height: 100%;
}

#search label,
#update label {
  font-size: 0.9rem;
  font-weight: 600;
}

#search input,
#search select,
#update input,
#update select {
  font-size: 1.1rem;
  margin: 10px;
  padding: 0 4px;
  height: 1.5rem;
}

#search select,
#search option,
#update select,
#update option {
  font-size: 1rem;
}

#search button {
  height: 30px;
  background-color: #aaa;
  border: 1px solid black;
  border-radius: 10px;
}

#search button:hover {
  background-color: #434343;
}

#btn-update,
#btn-cancel-update {
  margin: 5px;
  height: 30px;
  padding: 10px;
  background-color: #aaa;
  border: 1px solid black;
  border-radius: 10px;
}

#btn-update:hover {
  background-color: #eee;
}

#btn-cancel-update {
  color: #fff;
  background-color: rgb(210, 0, 0);
}

#btn-cancel-update:hover {
  background-color: rgb(255, 0, 0);
}

.subtitle {
  background-color: #000000;
  background-image: linear-gradient(147deg, #434343 0%, #000000 90%);
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: white;
  font-size: 1.1rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#sorting-form {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#sorting-form * {
  border-radius: 5px;
  padding: 2px 4px;
}

.cars {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 31%;
  background-color: #000000;
  background-image: linear-gradient(147deg, #434343 0%, #000000 90%);
  color: #fff;
  padding: 10px;
  margin: 10px;
}

.card img {
  display: block;
  margin: 10px auto;
  width: 80%;
}

.card,
.card img {
  border-radius: 10px;
}

.add {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .carName {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 4px;
}

.card .details {
  margin: 5px;
  margin-bottom: 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card .label {
  font-size: 1.1rem;
  margin-left: 5px;
}

.card .dataNumber {
  margin: 4px 0;
  font-size: 1.1rem;
  color: orangered;
}

.card .dataPrice {
  font-size: 2rem;
  color: limegreen;
}

.card .dataNumber,
.card .dataPrice {
  align-self: center;
}

.btns {
  display: flex;
}

.btn {
  background-color: rgb(33, 60, 87);
  width: 100px;
  margin: 10px auto;
  padding: 4px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

#pagination {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.page-num {
  cursor: pointer;
}

.page-num.current {
  font-size: 3rem;
}

.page-nav-btn {
  border: none;
  background-color: #aaa;
  border-radius: 5px;
  padding: 4px;
  width: 3rem;
  font-size: 2rem;
}

#footer-main {
  background-color: #000000;
  background-image: linear-gradient(147deg, #434343 0%, #000000 90%);
  color: #fff;
  margin-top: 30px;
  padding-top: 10px;
}

#footer-container {
  display: flex;
  justify-content: space-evenly;
}

.categories h3,
.someText h3 {
  margin: 5px;
}

.categories .list {
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 4px;
  list-style: none;
}

.categories li {
  margin-top: 5px;
  border-bottom: 1px solid #fff;
}

.someText p {
  max-width: 30ch;
  padding-left: 15px;
}

.copyright {
  border-top: 1px solid #fff;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.error {
  width: 90%;
  margin: 10px auto;
  padding: 3px;
  border-radius: 6px;
  border: rgb(167, 0, 0) inset 3px;
  background-color: rgb(255, 63, 63);
  color: #fff;
  font-size: 0.7rem;
}